@page "/"
@page "/home"

@inject IStringLocalizer<HomeL> Localizer
<PageTitle>Postwall</PageTitle>

<div class="text-center mt-5">


    <h1 class="display-4 fw-bold">@Localizer["WelcomeMessage"]</h1>
    <p class="lead text-muted">
        @Localizer["UnderWelcomeMessage"]
    </p>

    <div class="d-flex justify-content-center gap-3 mt-4">
        <a href="/navigation" class="btn btn-primary btn-lg">
            @Localizer["LatestFlyers"] <i class="bi bi-arrow-right-circle ms-2"></i>
        </a>
        <a href="https://www.lidl.hu" class="btn btn-outline-dark btn-lg" target="_blank">
            @Localizer["VisitLidl"] <i class="bi bi-box-arrow-up-right ms-2"></i>
        </a>
        <a href="https://www.spar.hu" class="btn btn-outline-success btn-lg" target="_blank">
            @Localizer["VisitSpar"] <i class="bi bi-box-arrow-up-right ms-2"></i>
        </a>
        <a href="https://www.penny.hu" class="btn btn-outline-danger btn-lg" target="_blank">
            @Localizer["VisitPenny"] <i class="bi bi-box-arrow-up-right ms-2"></i>
            </a>
    </div>
    <p class="d-flex justify-content-center gap-1 mt-4 w-10">
        <a class="btn btn-outline-secondary btn-lg" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        @Localizer["Creator"]
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body text-start mt-3">
            <p>@(new MarkupString(Localizer["CreatorMessageLine1"]))</p>
            <p>@Localizer["CreatorMessageLine2"]</p>
            <p>@Localizer["CreatorMessageLine3"]</p>
            <p>@Localizer["CreatorMessageLine4"]</p>
            <div>
                <p><Icon Name="IconName.Envelope" />
                    gadosmark7@gmail.com
                </p>
                <p>@Localizer["GithubIntro"]<Icon Name="IconName.Github" /> <a href="https://github.com/gmark1337">Github</a> @Localizer["GithubOutro"]</p>
            </div>
        </div>
    </div>
</div>



@code {
    
}
